<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>RecipeBook</title>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <th:block th:each="recipe : ${recipes}">
            <div class="px-4 py-2 ">
                <div class="card border-primary">
                    <div class="card-header">[[${recipe.name}]]</div>
                    <div class="card-body">
                        <p class="card-text">[[${recipe.description}]]</p>
                        <a href="/recipe" th:href="@{/recipe/{recipeId}(recipeId=${recipe.id})}"
                           class="btn btn-primary">Details</a>
                        <p class="card-text" th:if= "${recipe.modifyDate != null}"><small class="text-muted">Last update: [[${#temporals.format(recipe.modifyDate, 'HH:mm dd-MM-yyyy')}]]</small></p>
                        <p class="card-text"><small class="text-muted">Creation date: [[${#temporals.format(recipe.createDate, 'HH:mm dd-MM-yyyy')}]]</small></p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>
