<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<style>
    p {
    word-break:break-all;
    }
</style>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <th:block th:object="${recipe}">
        <div>
            <h2>[[${recipe.name}]]</h2>
            <p>[[${recipe.description}]]</p>
            <p>[[${recipe.body}]]</p>
            <a href="/recipe/details" th:href="@{/recipe/{recipeId}/history(recipeId=${recipe.id})}">Show history</a>
            <a href="/recipe/edit" th:href="@{/recipe/{recipeId}/edit(recipeId=${recipe.id})}">Edit recipe</a>
        </div>
    </th:block>
</div>
</body>
</html>